<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store</string> <!-- app-store, ad-hoc, enterprise, development -->
  <key>teamID</key>
  <string>5RWDD3R5HB</string>
  <key>provisioningProfiles</key>
	<dict>
		<key>br.com.grbtec.flutter.fluent2</key>
		<string>Gbt Fluent2 Example Distribution PP</string>
		<key>br.com.grbtec.flutter.fluent2</key>
        <string>Gbt Fluent2 Example Distribution PP - L</string>
	</dict>
</dict>
</plist>